html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.site-header {
  position: fixed;
  left: 9%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 148px;
  z-index: 99999;
  opacity: 0.4;
}

.site-header img {
  width: 12rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-fluid:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  color: white;
  margin-top: 14rem;
  text-align: center;
  width: 42rem;
}

.text img {
  height: 19rem;
  opacity: 0.1;
}

h3 span {
  transition: 0.5s ease-out;
}

h3 span {
  color: #ff0000;
  text-shadow: 0 0 10px #d40000, 0 0 20px #bb2121, 0 0 40px #c90707;
}

.text p{
  font-family: 'Courier New', Courier, monospace;
}

.button {
  padding: -3px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 23rem;
  height: 3rem;
}

.button:hover {background-color: #ffffff}

.button:active {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px #ffffff;
  transform: translateY(4px);
}

.site-header button{
  width: 7rem;
  margin-left: 111rem;
  position: absolute;
}
